h1 {
    text-align: center;
    padding-top: 25px;
}
.loading{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.fixtures-table {
    padding-top: 25px;
    height: 400px; 
    overflow-y: auto;
}
button {
    margin: 20px;
}